@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
  z-index: -1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bdbbbb;
}
